.card {
  border-radius: 4px;
  padding: 8px;
  width: 100%;

  cursor: pointer;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  

  
}

.title {
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  display: block;
  font-family: var(--font-family, Inter, sans-serif);
  font-weight: 500;
  line-height: 1.57;
  
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  
}

.RightBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 22px;
}

.category {
  font-size: 12px !important;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: 500;
  line-height: 1.67;
  border: 1px solid transparent;
}

.idBox {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
  border: 1px solid transparent;
  
  &:hover {
    opacity: 0.85;
  }
}

.idText {
  font-size: 12px !important;
  font-weight: 500;
  line-height: 1.67;
}

.copyIcon {
  opacity: 0.6;
  font-size: 13px;
}

.priorityIcon {
  font-size: 18px;
}

.statusIconGrey {
  font-size: 18px;
  opacity: 0.7;
}

.avatar {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkBtn {
  display: flex;
  align-items: end;
  gap: 4px;
  font-weight: 500;
  padding: 0 !important;
  font-size: 12px;
  justify-content: flex-end;
  align-self: flex-end;
}