.aiButton {
  border-radius: 8px;
  padding: 0px 16px;
  width: 121px;
  height: 40px;
  box-shadow: 0 2px 10px 4px rgba(0, 119, 255, 0.1);
  background: linear-gradient(45deg, #1677ff 0%, #0958d9 100%) !important;
  border: none !important;
  color: #fff !important;

  // Disable AntD hover/focus/active visual changes
  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(45deg, #1677ff 0%, #0958d9 100%) !important;
    border: none !important;
    color: #fff !important;
    box-shadow: 0 2px 10px 4px rgba(0, 119, 255, 0.1) !important;
  }

  
}
